html,
body {
  overflow-x: hidden;
}
.jumbotron {
  padding-top: 7rem;
  background-color: #00ffff;
}
section {
  padding-top: 6rem;
}
.namaku {
  font-family: "Lobster", cursive;
}
.deskripsi {
  font-family: "Anton", sans-serif;
}
#galeri {
  background-color: #00ffff;
}
footer {
  background-color: #0d6efd;
  overflow-y: hidden;
}
